{% extends "base.html" %}

{% block title %}
The Reason - Data Acquired
{%  endblock %}

{% block content %}

    <table>
        <tr>
            <td><h3>Name</h3></td>
            <td><h3>Version</h3></td>
            <td><h3>Licenses</h3></td>
            <td><h3>CPEs</h3></td>
            <td><h3>CVEs</h3></td>
        </tr>
        {% if results %}
            {% for item in results %}    
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.version }}</td>
                    <td>
                        {% for license in  item.licenses %}
                            {{ license.short_name }}
                            {{ license.name }}
                            {{ license.found_count }}
                            <br />
                        {% endfor %}
                    </td>
                    <td>
                        {% for cpe in item.cpes %}
                            {{ cpe.cpe }}
                            <br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for cve in item.cves %}
                            {% if cve %}
                                {% for c in cve %}
                                    {{ c }}
                                    <br />
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td>No Data</td></tr>
        {% endif %}
    </table>

{% endblock %}

{% block sidebar %}

{% endblock %}

