{% extends "base.html" %}

{% block title %}
The Reason - Data Acquired
{%  endblock %}

{% block content %}

    <table style="width:60%">
        <tr>
            <td><h1>CPEs found</h1></td>
        </tr>
        {% for x in cpe %}
            {% if x %}
                <tr>
                    <td>{{ x }}</td>
                </tr>
            {% endif %}
        {% endfor %}        
    </table>
    <br/>
    <br/>

    
    <table style="width:60%">
        <tr>
            <td><h1>License Info</h1></td>
        </tr>
        {% for x in lic %}
            {% if x %}
                <tr>
                    <td>{{ x }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br/>
    <br/>


    <table style="width:60%">
        <tr>
            <td><h1>CVEs found</h1></td>
        </tr>
        {% for x in cve %}
            {% if x %}
                <tr>
                    <td>{{ x }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br/>
    <br/>

{% endblock %}

{% block sidebar %}

{% endblock %}

