{% extends "base.html" %}

{% block title %}
The Reason - Data Acquired
{%  endblock %}

{% block content %}

    <table style="border:1px solid black;border-collapse:collapse;width:100%;">
        <tr>
            <td style="border:1px solid black;padding:5px;"><h3>Name</h3></td>
            <td style="border:1px solid black;padding:5px;"><h3>Version</h3></td>
            <td style="border:1px solid black;padding:5px;"><h3>Licenses</h3></td>
            <td style="border:1px solid black;padding:5px;"><h3>CPEs</h3></td>
            <td style="border:1px solid black;padding:5px;"><h3>CVEs</h3></td>
        </tr>
        {% if results %}
            {% for item in results %}    
                <tr>
                    <td style="border:1px solid black;padding:5px;">{{ item.name }}</td>
                    <td style="border:1px solid black;padding:5px;">{{ item.version }}</td>
                    <td style="border:1px solid black;padding:5px;">
                        {% for license in  item.licenses %}
                            {{ license.short_name }} ({{ license.found_count }})
                            <br />
                        {% endfor %}
                    </td>
                    <td style="border:1px solid black;padding:5px;">
                        {% for cpe in item.cpes %}
                            {{ cpe.cpe }}
                            <br/>
                        {% endfor %}
                    </td>
                    <td style="border:1px solid black;padding:5px;">

                        {% for cve_name, cvss_score in item.cves %}
                    
                              {{ cve_name }} (Score: {{ cvss_score }})
                              <br />
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td style="border:1px solid black;padding:5px;">No Data</td></tr>
        {% endif %}
    </table>

{% endblock %}

{% block sidebar %}

{% endblock %}

