{% extends "base.html" %}

{% block title %}
The Reason - Wiki Page
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Getting Started</h1>
            <p>The 101 page for this project </p>

	    <h1>Usage</h1>
            <p>How to use, the background and behind the fascade stuff goes here </p>

	    <h1>Software Requirements</h1>
            <p>What do you need to sucessfully run and finish this stuff </p>

        </header>
        <section>
        </section>


        <section>

        </section>

    </article>
{% endblock %}

{% block sidebar %}

{% endblock %}

